---
import Layout from '../layouts/BaseLayout.astro';
import experiences from '../data/experiences.json';
import introduce from '../data/introduce.json';
import { EducationExperience } from '../data/props';
import SectionTitle from '../components/SectionTitle';
import IntroduceMyself from '../components/IntroduceMyself';

const educations: EducationExperience[] = experiences.education;
---

<Layout title="About Me" description="Information about Thanaphoom Babparn">
  <SectionTitle title="About Me" />
  <IntroduceMyself name={introduce.name} nickname={introduce.nickname} statement={introduce.statement} />

  <div class="border-b-2 border-gray-400 my-8"></div>

  <section>
    <h2 class="text-3xl font-bold mb-4">Educations</h2>
    <ul class="list-none md:px-8">
      {
        educations.map((edu, index) => (
          <div class="flex flex-col justify-center items-center md:flex-row">
            <li class="mb-8">
              <h3 class="text-xl font-bold">
                {edu.degree} in {edu.fieldOfStudy}
              </h3>
              <h4 class="text-lg font-bold">{edu.school}</h4>
              <p class="text-gray-700">
                {edu.startDate} - {edu.endDate}
              </p>
              <div class="my-4">
                <h4 class="text-lg font-bold">Course relevant</h4>
                <ul class="list-disc list-inside mt-2">
                  {edu.courses.map((course, index) => (
                    <li>{course}</li>
                  ))}
                </ul>
              </div>
            </li>
            {edu.images.map((image, index) => (
              <img
                src={image}
                alt="Graduated images"
                class="w-full md:w-2/5 mx-auto my-4 md:my-0 rounded-lg"
              />
            ))}
          </div>
        ))
      }
    </ul>
  </section>
</Layout>
