---
import BaseHead from '../components/header/BaseHead.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/Footer';
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  INTRODUCTION,
  START_CAREER,
} from '../consts';
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
dayjs.extend(relativeTime);

const startCareerDate = dayjs(START_CAREER);
const currentDate = dayjs();
const diffYears = currentDate.diff(startCareerDate, 'year');
const diffMonths = currentDate.diff(startCareerDate, 'month') % 12;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header title={SITE_TITLE} />
    <main class="flex-grow flex flex-col md:flex-row px-2 md:px-12 m-10">
      <div
        class="w-full md:w-2/3 flex flex-col justify-center items-center md:pr-8 animate__animated animate__backInLeft"
      >
        <h1 class="my-5 text-4xl font-bold tracking-tighter leading-tight">
          Hello World!
        </h1>
        <p class="my-5 text-lg font-medium tracking-wide leading-relaxed">
          {INTRODUCTION}
        </p>
        <p
          class="my-5 text-base font-normal tracking-wide leading-relaxed dark:text-gray-600"
        >
          {`Job Experiences: ${diffYears} years ${diffMonths} months`}
        </p>
      </div>
      <div
        class="w-full md:w-2/3 flex justify-center mt-4 animate__animated animate__backInRight"
      >
        <img
          src="/assets/images/profile.webp"
          alt="Profile"
          class="w-full h-auto object-cover rounded-lg"
          width="1057"
          height="845"
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
